.bg-mysuccess {
    background-color: rgb(124, 228, 164);
}


/* Styles pour le bouton de bascule */
button i {
    transition: transform 0.3s ease-in-out; /* Transition pour l'icône du bouton */
  }
  
  /* Styles pour l'état "expanded" du bouton */
  button.expanded i {
    transform: rotate(180deg); /* Inversez l'icône lorsque la section est ouverte */
  }
  
  /* Styles pour l'effet de transition du contenu collapsible */
  tr.collapse {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Ajoutez une transition pour la hauteur et l'opacité */
  }
  
  /* Styles pour l'état "expanded" du contenu collapsible */
  tr.expanded {
    max-height: 1000px; /* Ajustez la valeur en fonction de la hauteur maximale souhaitée */
    opacity: 1;
  }

  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /* Fond sombre semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    /* Assurez-vous que le spinner est au-dessus de tout le reste */
  }
  
  .spinner-container {
    text-align: center;
  }
  